/* App.css */

/* Default light theme styles */
.light-mode {
  background-color: #bceafffa;
}

.light-mode{
  background-color: #f1f1f1;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

/* Dark theme styles */
.dark-mode {
  background-color: #121212;

}

.dark-mode {
  background-color: #333;
}

.dark-mode button {
  background-color: #444;
  color: #ddd;
}

.dark-mode button:hover {
  background-color: #666;
}
